/***********************************************
GENERAL STYLES
***********************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  position: relative;
  background-color: #232323;
}

#container {
  width: 600px;
  margin: 0 auto;
}


/***********************************************
GAME STYLES
***********************************************/

h1 {
  text-align: center;
  color: #fff
}

#stripe {
  background-color: #fff;
  height: 30px;
  text-align: center;
}

.selected {
  background-color: blue;
}


.square{
  width: 30%;
  float: left;
  margin: calc(10% / 6);
  padding-bottom: 30%;
  background-color: purple;
}
